In [29]:
import pandas as pd
from time import time
import json
f = open ('credential.json', "r")
credential = json.loads(f.read())

In [30]:
import pyodbc as po
 
# Connection variables
server = credential['server']
database = credential['database']
username = credential['username']
password = credential['password']
 
# Connection string
cnxn = po.connect('DRIVER={ODBC Driver 18 for SQL Server};SERVER=' +
        server+';DATABASE='+database+';UID='+username+';PWD=' + password + ';TrustServerCertificate=yes')
cursor = cnxn.cursor()

In [21]:
query_lst_not_ordered = [49]
query_lst_too_long = [10, 14, 23, 35]
query_lst = [i for i in range(1, 100)]
query_lst.remove(10)
query_lst.remove(14)
query_lst.remove(23)
query_lst.remove(35)
query_lst.remove(49)
print(query_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [31]:
query_lst = [49]

In [32]:
df = pd.DataFrame(columns=['query', 'time1', 'time2', 'time3', 'time4', 'time5'])
df

Empty DataFrame
Columns: [query, time1, time2, time3, time4, time5]
Index: []

In [33]:
for query_num in query_lst:
    tmp_lst = []
    tmp_lst.append(query_num)
    f = open("../query_sqlserver_org_order/query_{}.sql".format(query_num), 'r')
    query = f.read()
    for i in range(5):
        tic = time()
        cursor.execute(query)
        toc = time()
        t = toc - tic
        tmp_lst.append(t)
    new_df = pd.DataFrame([tmp_lst],columns=['query', 'time1', 'time2', 'time3', 'time4', 'time5'])
    df = pd.concat([df, new_df],axis=0)
    print(df,'\n')
df.to_csv('../result_49.csv', index=False)

  query     time1     time2     time3     time4     time5
0    49  4.232463  0.179765  0.160067  0.153851  0.152786

In [13]:
df.to_csv('result_5gb_01.csv', index=False)
df

  query      time1      time2      time3      time4      time5
0     1   1.007146   0.970426   0.968980   0.973379   0.955503
0     2  61.580830  65.459374  64.265039  73.219193  90.895093
0     3  13.345937   1.579686   1.534165   1.534406   1.551862
0     4  29.696488  27.226271  23.613096  26.024584  27.208786
0     5   5.302745   8.306011   9.522084  11.424761  11.972606
0     6   8.715021   3.106640   2.900610   2.788401   2.844168
0     7   2.363396   1.280699   1.299717   1.311852   1.313427
0     8   1.902023   1.424883   1.387357   1.418671   1.375679
0     9   9.984648  10.030884   9.841075   9.585309   9.501673
0    11   9.322804   7.614102   7.864239   8.004638   8.070929
0    12   0.452175   0.261574   0.281333   0.275599   0.277410
0    13   1.335974   0.707733   0.692680   0.701407   0.701309
0    15   6.469882   2.840125   2.803198   3.837086   3.251963
0    16   4.566423   4.071690   4.098282   4.085908   4.113860
0    17   2.006205   0.948308   0.955794   0.958057   0.970110
0    18   2.664147   2.186576   2.180696   2.153727   2.147860
0    19   5.512453   5.327067   5.299857   5.265655   5.348720
0    20   0.534566   0.469826   0.483912   0.478634   0.480554
0    21   1.654931   0.791876   0.792529   0.786165   0.791890

In [13]:
tmp_lst

[14]

# Cursor examples

In [6]:
cursor.execute("SELECT TOP (10) * from call_center")

In [7]:
row = cursor.fetchone()
while row:
    # Print the row
    print(str(row[0]) + ", " + str(row[1] or '') + ", " + str(row[2] or '') + ", " + str(row[3] or ''))
    row = cursor.fetchone()

1, AAAAAAAABAAAAAAA, 1998-01-01,
2, AAAAAAAACAAAAAAA, 1998-01-01, 2000-12-31
3, AAAAAAAACAAAAAAA, 2001-01-01,
4, AAAAAAAAEAAAAAAA, 1998-01-01, 2000-01-01
5, AAAAAAAAEAAAAAAA, 2000-01-02, 2001-12-31
6, AAAAAAAAEAAAAAAA, 2002-01-01,