In [70]:
import pandas as pd
from time import time
import json
f = open ('credential.json', "r")
credential = json.loads(f.read())

In [71]:
import pyodbc as po
 
# Connection variables
server = credential['server']
database = credential['database']
username = credential['username']
password = credential['password']
 
# Connection string
cnxn = po.connect('DRIVER={ODBC Driver 18 for SQL Server};SERVER=' +
        server+';DATABASE='+database+';UID='+username+';PWD=' + password + ';TrustServerCertificate=yes')
cursor = cnxn.cursor()

In [21]:
query_lst_too_long = [10, 14, 23, 35]
query_lst = [i for i in range(1, 100)]
query_lst.remove(10)
query_lst.remove(14)
query_lst.remove(23)
query_lst.remove(35)
print(query_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [72]:
query_lst = [14]

In [73]:
df = pd.DataFrame(columns=['query', 'time1', 'time2', 'time3', 'time4', 'time5'])
df

Empty DataFrame
Columns: [query, time1, time2, time3, time4, time5]
Index: []

In [74]:
for query_num in query_lst:
    tmp_lst = []
    tmp_lst.append(query_num)
    f = open("../query_sqlserver_org_order/query_{}.sql".format(query_num), 'r')
    query = f.read()
    for i in range(5):
        tic = time()
        cursor.execute(query)
        toc = time()
        t = toc - tic
        tmp_lst.append(t)
        print('time:', t)
    new_df = pd.DataFrame([tmp_lst],columns=['query', 'time1', 'time2', 'time3', 'time4', 'time5'])
    df = pd.concat([df, new_df],axis=0)
    print(df,'\n')
df.to_csv('../result/result_???.csv', index=False)

OperationalError: ('08S01', '[08S01] [Microsoft][ODBC Driver 18 for SQL Server]TCP Provider: Error code 0x2746 (10054) (SQLExecDirectW)')

# Cursor examples

In [6]:
cursor.execute("SELECT TOP (10) * from call_center")

In [7]:
row = cursor.fetchone()
while row:
    # Print the row
    print(str(row[0]) + ", " + str(row[1] or '') + ", " + str(row[2] or '') + ", " + str(row[3] or ''))
    row = cursor.fetchone()

1, AAAAAAAABAAAAAAA, 1998-01-01,
2, AAAAAAAACAAAAAAA, 1998-01-01, 2000-12-31
3, AAAAAAAACAAAAAAA, 2001-01-01,
4, AAAAAAAAEAAAAAAA, 1998-01-01, 2000-01-01
5, AAAAAAAAEAAAAAAA, 2000-01-02, 2001-12-31
6, AAAAAAAAEAAAAAAA, 2002-01-01,