# Load Credentials

In [70]:
import pandas as pd
from time import time
import json
f = open ('credential.json', "r")
credential = json.loads(f.read())

# Initialize pyodbc to connect the database

In [71]:
import pyodbc as po
 
# Connection variables
server = credential['server']
database = credential['database']
username = credential['username']
password = credential['password']
 
# Connection string
cnxn = po.connect('DRIVER={ODBC Driver 18 for SQL Server};SERVER=' +
        server+';DATABASE='+database+';UID='+username+';PWD=' + password + ';TrustServerCertificate=yes')
cursor = cnxn.cursor()

# Create query list
For queries with normal runtime (without No.14), run the following

In [1]:
query_lst = [i for i in range(1, 100)]
query_lst.remove(14)

For optimized queries (No.14), run the following

In [72]:
query_lst = [14]

## Create a new dataframe to store the result

In [73]:
df = pd.DataFrame(columns=['query', 'time1', 'time2', 'time3', 'time4', 'time5'])
df

Empty DataFrame
Columns: [query, time1, time2, time3, time4, time5]
Index: []

# Run queries

In [ ]:
for query_num in query_lst:
    tmp_lst = []
    tmp_lst.append(query_num)
    # replace the path with "../query_sqlserver_optimized/query_{}.sql" for query 14
    f = open("../query_sqlserver_org_order/query_{}.sql".format(query_num), 'r')
    query = f.read()
    for i in range(5):
        tic = time()
        cursor.execute(query)
        toc = time()
        t = toc - tic
        tmp_lst.append(t)
        print('time:', t)
    new_df = pd.DataFrame([tmp_lst],columns=['query', 'time1', 'time2', 'time3', 'time4', 'time5'])
    df = pd.concat([df, new_df],axis=0)
    print(df,'\n')
# replace "???" with the actural data size or your own identifier
df.to_csv('../result/result_???.csv', index=False)

In the end, please manually merge results of the normal queries and query 14 into a single .csv file

# Cursor examples
This is a test to check if OBDC is running properly

In [6]:
cursor.execute("SELECT TOP (10) * from call_center")

In [7]:
row = cursor.fetchone()
while row:
    print(str(row[0]) + ", " + str(row[1] or '') + ", " + str(row[2] or '') + ", " + str(row[3] or ''))
    row = cursor.fetchone()

1, AAAAAAAABAAAAAAA, 1998-01-01,
2, AAAAAAAACAAAAAAA, 1998-01-01, 2000-12-31
3, AAAAAAAACAAAAAAA, 2001-01-01,
4, AAAAAAAAEAAAAAAA, 1998-01-01, 2000-01-01
5, AAAAAAAAEAAAAAAA, 2000-01-02, 2001-12-31
6, AAAAAAAAEAAAAAAA, 2002-01-01,