In [39]:
import pandas as pd

In [40]:
new_df = pd.DataFrame()
idx = [i for i in range(1, 100)]
new_df['QueryNo'] = idx

In [41]:
sf_lst = [1, 2, 5, 10]
for sf in sf_lst:
    df = pd.read_csv('../result2/result_{}gb.csv'.format(sf))
    df = df[['time1', 'time2', 'time3', 'time4', 'time5']]
    new_df['avg_{}gb'.format(sf)] = df.mean(axis=1)
new_df

    QueryNo   avg_1gb   avg_2gb     avg_5gb    avg_10gb
0         1  1.659347  1.397830    1.248287    8.189259
1         2  5.470554  8.496771  105.812540  185.243408
2         3  0.037430  0.403681    1.214805    0.841570
3         4  4.598333  4.192886   84.058420  317.720891
4         5  0.684125  1.479888  113.179626  165.965691
..      ...       ...       ...         ...         ...
94       95  0.454056  1.767109    1.086455    2.069394
95       96  0.091799  0.202805    5.610430   90.479988
96       97  0.393608  0.729379   62.806487  131.460320
97       98  0.113618  0.147588    0.429107    6.067457
98       99  0.503753  0.394154    5.121588   50.251209

[99 rows x 5 columns]

In [42]:
new_df.to_csv('../result2/avg_result.csv', index=False)